*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: calc(.6vw + .6vh + .5em);
}
/* @media (min-aspect-ratio: 2/1) {
  :root {
    font-size: 1vw;
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(1, 73, 139);
}
img {
  display: block;
  width: 100%;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 12px;
  padding: 1ch;
  background-color: lightcyan;
}